* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cairo;
}

html {
  scroll-behavior: smooth;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

body {
  overflow-x: hidden;
}

div.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  div.container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  div.container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  div.container {
    width: 1170px;
  }
}

@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: cairo;
  src: url(../fonts/Cairo-ExtraLight.ttf);
  font-weight: 200;
}
